
div.main-parts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    width: 95vw;


    & div.filter-container{
        padding: 20px 0px;
        
        & p{
            font-size: 25px;
        }

    }

    & div.table-container{
        width: 100%;
        padding: 0px 0px 35px;
    }

}
table.parts-table{
    max-width: 1500px;
    margin: auto;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;

    

    & thead{
        background-color: var(--main-color);
        border-top-left-radius: 10px;
        & tr th{
            padding: 15px 10px;
            color: white;
        }

    }

    & tbody{
        & tr td{
            color: black;
            background-color: aliceblue;
            padding: 10px 25px;
            border-bottom: 2px solid;
            border-color: #a7a7a7b4;
        }

        & tr td.left{
            text-align: start;
        }
    }
}