.card-container{
    background-color:#707070;
    padding: 12px 0px;
    margin: 7px;
    border-radius: 13px;
    width: 240px;
    & p{
        font-weight: 400;
        font-size: 18px;
    }
}

.card-container:hover{
    background-color: #999999;
    cursor: pointer;
}