.card-container{
    background-color:#1989b9;
    padding: 12px 0px;
    margin: 7px;
    border-radius: 13px;
    width: 240px;
    color: white;
    & p{
        font-weight: 400;
        font-size: 18px;
    }
}

.card-container:hover{
    background-color: #0d5777;
    cursor: pointer;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: #999999;
    cursor: pointer;
}

.active{
    color: white;
    text-decoration: none;
}